Options All -Indexes
RewriteEngine On
ErrorDocument 404 /index.php?c=index&a=error404

RewriteRule ^home/?$ index.php
RewriteRule ^eventos/?$ index.php?c=index&a=eventos
RewriteRule ^musica/?$ index.php?c=index&a=musica
RewriteRule ^patrocinadores/?$ index.php?c=index&a=patrocinadores

RewriteRule ^login/?$ index.php?c=admin&a=login
RewriteRule ^prueba/?$ index.php?c=admin&a=prueba
RewriteRule ^editlogin/?$ index.php?c=admin&a=editLogin
RewriteRule ^init/?$ index.php?c=login&a=login

RewriteRule ^admin/?$ index.php?c=admin&a=home
RewriteRule ^admMusic/?$ index.php?c=admin&a=music
RewriteRule ^subirMusica/?$ index.php?c=admin&a=subirMusica
